/node_modules
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.idea/
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/.idea
/.idea/*.*
/.idea/
composer.lock
composer.json
webpack.mix.js
mix-manifest.json
package-lock.json
package.json
public/admin/*
public/css/*
public/js/*
public/uploads/*
public/packages/*
public/vendor/*
web.config
/artisan
