@import "_swiper-bundle.scss";
@import "_normalize.scss";
@import "_default.scss";
@import "_variables.scss";
@import "aos.scss";

$transition: 0.3s;

*{
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
img{
  max-width: 100%;
}
a{
  text-decoration: none;
}
html{
  font-size: 10px;
  line-height: 122%;
}
body{
  position: relative;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  overflow-x: hidden;
  font-size: 1.8rem;
  line-height: 122%;
  color: #23262D;
}
.main{
  position: relative;
}
.full-cover{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section-title{
  font-weight: 700;
  font-size: 48vw * $px;
  line-height: 56vw * $px;
  color: #2E3A87;
  max-width: 960vw * $px;
  margin: 0 auto 14vw * $px auto;
  text-align: center;
}
.section-subtitle, .section-subtitle p{
  max-width: 960vw * $px;
  margin: 0 auto 14vw * $px auto;
  color: #232639;
  font-weight: 400;
  font-size: 18vw * $px;
  line-height: 151.4%;
  text-align: center;
}
.button{
  display: inline-block;
  background: linear-gradient(88.72deg, #6E2AFF 1.13%, #50ABFF 234.23%);
  border-radius: 10vw * $px;
  padding: 2vw * $px 5vw * $px;
  font-weight: 500;
  font-size: 16vw * $px;
  line-height: 101.4%;
  text-transform: uppercase;
  color: #FFFFFF;
}
body{
  background-color: white;
}
.main-container{
  max-width: 1920vw * $px;
  margin: auto;
  @extend .padding-right;
  @extend .padding-left;
}
.padding-right{
  padding-right: 12rem;
}
.padding-left{
  padding-left: 12rem;
}
.orange-button{
  padding: 2.7rem 7.2rem 2.6rem 7.2rem;
  display: inline-flex;
  background: #ED6A32;
  border-radius: 3rem;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.7rem;
  color: #FFFFFF;
}
.header{
  padding-top: 4.8rem;
  padding-bottom: 5.6rem;
  &__container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__logo{
    margin-right: 10.3rem;
    img{
      width: 208px;
      height: auto;
    }
  }
  &__nav{
    flex: 1;
    &-list{
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }
    &-item{
      margin-right: 7.4rem;
      margin-bottom: 0;
      &:last-child{
        margin-right: 10.3rem;
      }
      &.has-child{
        position: relative;
        ul{
          display: none;
          position: absolute;
          bottom: -100%;
          left: 0;
          //display: flex;
          flex-direction: column;
        }
      }
    }
    &-lnk{
      font-weight: 700;
      font-size: 2rem;
      line-height: 2.7rem;
      color: #0D0E17;
    }
  }
  &__login{

  }
}
